<h2 class="text-center">Log in</h2>
<div id="signup_form">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render 'shared/errors', object: @user %>

      <%= form_for(:session, url: login_path, html: {method: 'post', role: 'form'}) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Log in", class: 'btn btn-success btn-sm' %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      <% end %>
    </div>
  </div>
</div>
