<div class="play-content">
  <h2 class="text-center">PLAYOFFS</h2>
  <div class="tournament-play-links">
      <%= link_to "Tournament Home", tournament_path(@tournament.id) %>
      <%= link_to "Pool Play", poolplay_path(@tournament.id) %>
      <% if @tournament.closed %>
        <%= link_to "Final Results", final_results_path(@tournament), remote: true, format: 'js' %>
      <% end %>
  </div>
  <div class="game-play">
    <% if @tournament.tournament_type == 'kob' %>
      <%= render 'shared/kob_games_table', courts: @playoff_courts, game: @game %>
    <% else %>
      <%= render 'team_playoff_bracket', playoff_games: @games %>
    <% end %>
  </div>
</div>
<%= link_to "", playoffs_finished_path(@tournament), method: 'post', id: 'playoffs_finished', type: 'hidden' %>
