  <div class="form_container">
    <%= form_for @tournament, html: {class: "form_layout", role: "form"} do |f| %>
      <%= render 'shared/errors', object: @tournament %>
      <div class=" form_table">
        <div class="form_label">
          <%= f.label :name %>
        </div>
        <div class="form_input">
          <%= f.text_field :name, class: "", placeholder: "Name of Tournament", autofocus: true %>
        </div>
      </div>
      <div class="form_table">
        <div class="form_label">
          <%= f.label :date %>
        </div>
        <div class="form_input">
          <%= f.text_field :date, class: '', placeholder: "Date of Tournament" %>
        </div>
      </div>

      <div class="form_table">
        <div class="form_label">
          <%= f.label :type %>
        </div>
        <div class="form_radio">
          <%= f.radio_button :tournament_type, 'kob' %>
          <%= f.label :tournament_type_kob, 'KOB' %>
        </div>
        <div class="form_radio">
          <%= f.radio_button :tournament_type, "team" %>
          <%= f.label :tournament_type_team, "Team" %>
        </div>
        <div class="form_radio">
          <%= f.radio_button :tournament_type, "kob/team" %>
          <%= f.label :tournament_type_team, "KOB/Team" %>
        </div>
      </div>

      <div class="form_table">
        <div class="form_button">
          <%= f.submit class: "btn btn-primary btn-sm pull-left" %>
        </div>
        <div class="form_button">
          <% if @tournament.new_record? %>
            <%= link_to "Cancel", root_path %>
          <% else %>
            <%= link_to "Cancel", tournament_path(@tournament) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
