<%= link_to "  Create New Tournament", new_tournament_path, class: "fa fa-plus" %>

<table class="table row">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Registration</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% if @tournaments.empty? %>
      <tr>
        <td colspan="4">No Tournaments</td>
      </tr>
    <% else %>
      <% @tournaments.each do |tourn| %>
        <tr data-id="<%= tourn.id %>">
          <!-- <th scope="row"></th> -->
          <td><%= link_to tourn.name, tournament_path(tourn)%></td>
          <td><%= tourn.date_played %></td>
          <td><%= tourn.registration_open ? 'Open' : 'Closed' %></td>
          <% if tourn.closed %>
            <td class="action-row">
              <%= link_to tournament_path(tourn), id: "delete", method: "delete", data: { confirm: "Are you sure" } do %>
                <i class="fa fa-trash fa-2x"></i>
              <% end %>
            </td>
          <% else %>
            <td class="action-row">
              <%= button_to "Join Tournament", "#", class: "btn btn-sm btn-primary" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
