<div class="tournament_title">
  <h2 class="text-center"><%= @tournament.name %> - <%= @tournament.date %></h1>
  <h3 class="text-center">TYPE: <%= @tournament.tournament_type == 'kob' ? 'KOB' : 'Team' %></h3>

  <% if @user && @user.admin? %>
    <h4 class="text-center"><%= link_to "Edit", edit_tournament_path(@tournament) %></h3>
  <% end %>
</div>
<div class="tournament-play-links">
  <% if @tournament.poolplay_started %>
    <%= link_to "Pool Play", poolplay_path(@tournament.id) %>
  <% end %>
  <% if @tournament.playoffs_started %>
    <%= link_to "Playoffs", playoffs_path(@tournament) %>
  <% end %>
</div>

<% cache(@tournament) do %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">rank</th>
        <% if @tournament.tournament_type == 'kob' %>
          <th scope="col">Player</th>
        <% else %>
          <th scope="col">Team</th>
        <% end %>
        <th class="col">Points</th>
        <th class="col">Latest Results</th>
        <% if @user && @user.admin? && @tournament.registration_open %>
          <th class="col">Remove Team</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'tournaments/team', collection: @tournament.teams, cache: true %>
    </tbody>
  </table>
<% end %>
<p class="disclaimer">* Total number of players needs to be a multiple of 4 to start pool play</p>

<div class="action_button">
  <% if @current_user && @current_user.admin? && !@tournament.poolplay_started %>
    <div class="">
      <% if @tournament.registration_open %>
        <%= link_to "Add #{@tournament.tournament_type == 'kob' ? 'Player' : 'Team'}", add_team_path(@tournament.id), class: "btn btn-md btn-success" %>
      <% end %>

      <%= link_to "#{@tournament.registration_open ? 'Close' : 'Open'} Registration", tournament_path(:tournament => {registration_open: !@tournament.registration_open}), method: "patch", class: 'btn btn-md btn-primary', remote: true %>

      <% if ready_to_start_poolplay?%>
        <%= link_to "Start Pool Play", new_poolplay_path(@tournament.id), class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
