<div class="tournament_title">
  <h2 class="text-center"><%= @tournament.name %> - <%= @tournament.date %></h1>
  <h3 class="text-center">TYPE: <%= @tournament.tournament_type == 'kob' ? 'KOB' : 'Team' %></h3>

  <% if @user && @user.admin? %>
    <h4 class="text-center"><%= link_to "Edit", edit_tournament_path(@tournament) %></h3>
  <% end %>
</div>
<div class="tournament-play-links">
  <% if ready_to_start_poolplay?%>
    <%= link_to "Start Pool Play", new_poolplay_path(@tournament.id) %>
  <% elsif @tournament.poolplay_started %>
    <%= link_to "Pool Play", poolplay_path(@tournament.id) %>
  <% end %>
  <% if @tournament.poolplay_finished %>
    <%= link_to "Playoffs", "#" %>
  <% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">rank</th>
      <% if @tournament.tournament_type == 'kob' %>
        <th scope="col">Player</th>
      <% else %>
        <th scope="col">Team</th>
      <% end %>
      <th class="col">Points</th>
      <th class="col">Latest Results</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each_with_index do |team, i| %>
    <tr>
      <% if @tournament.tournament_type == 'kob' %>
        <% if @tournament.teams.empty? %>
          <td colspan="4">No Players added yet</td>
        <% else %>
          <td><%= i + 1%></td>
          <td><%= link_to team.team_name, user_path(team.user_id) %></td>
          <td><%= team.total_points %></td>
          <td>N/A</td>
        <% end %>
      <% else %>
        <td colspan="4">No Teams added yet</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% unless @tournament.poolplay_started %>
  <% if @current_user && @current_user.admin? %>
    <div class="">
      <% if @tournament.registration_open %>
        <%= link_to "Add #{@tournament.tournament_type == 'kob' ? 'Player' : 'Team'}", add_team_path(@tournament.id), class: "btn btn-md btn-success" %>
      <% end %>
      <% unless @tournament.poolplay_started %>
        <%= link_to "#{@tournament.registration_open ? 'Close' : 'Open'} Registration", tournament_path(:tournament => {registration_open: !@tournament.registration_open}), method: "patch", class: 'btn btn-md btn-primary', remote: true %>
      <% end %>
    </div>
  <% end %>
<% end %>
