<% courts.keys.each do |court| %>
  <div class="court-play ">
    <div class="court-title d-flex flex-row">
      <% if court == 100 %>
        <h3>Championship</h3>
      <% elsif court > 100 %>
        <h3>Consolation</h3>
      <% else %>
        <h3>Court <%= court %></h3>
      <% end %>
      <% if @game == 'poolplay' %>
        <span><%= link_to "Leader Board", poolplay_leaderboard_path(@tournament, court_id: court), format: "js", class: "leaderboard-link", remote: true %></span>
      <% else %>
        <span><%= link_to "Leader Board", playoffs_leaderboard_path(@tournament, court_id: court), format: "js", class: "leaderboard-link", remote: true %></span>
      <% end %>
    </div>
    <div class="d-flex flex-row">
      <div class="table-responsive col-8">
        <table class="table scores">
          <thead>
            <tr>
              <th scope="col">Games</th>
              <th scope="col">Score</th>
              <th scope="col">Winner(Diff)</th>
              <th scope="col">Loser(Diff)</th>
            </tr>
          </thead>
          <tbody>
            <% courts[court].each do |game| %>
              <tr id="pool_<%= game["id"] %>" data-pool_id="<%= game["id"] %>">
                <td>
                  <%= create_game_title_from_team_ids(game["team_ids"]) %>
                  <% if @current_user && @current_user.admin? && !@tournament.playoffs_started%>
                    <%= link_to "(Edit)", "#" %>
                  <% end %>
                </td>
                <% if game["score"].nil? %>
                  <td>
                    <%= link_to "Results",
                    @tournament.playoffs_started ? results_playoffs_path(@tournament, pool_id: game["id"]) : results_poolplay_path(@tournament,pool_id: game["id"]),
                    class: 'btn btn-primary btn-md',
                    remote: true, data: { target: '#modal-window', toggle: 'modal'}
                    %>
                  </td>
                  <td></td>
                  <td></td>
                <% else %>
                  <%= render 'shared/results_display', game: game %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-4" id="non_modal_leaderboard">
        <%= render 'shared/non_modal_leaderboard_list', in_playoffs: @in_playoffs, court: court, teams: get_court_standings(court, @game, @tournament) %>
      </div>
    </div>
  </div>
<% end %>
