<div class="modal-header flex-row">
  <button type="button" class="close mr-2 ml-0 p-1" data-dismiss="modal" aria-hidden="true">×</button>
  <% if @in_playoffs %>
    <h3 class="modal-title" id="myModalLabel"><%= @court == 100 ? 'Championship' : 'Consolation'  %> Court</h3>
  <% else %>
    <h3 class="modal-title" id="myModalLabel">Leader Board: Court <%= @court  %></h3>
  <% end %>
</div>

<div class="modal-body pt-0">
  <table class="table">
    <thead>
      <tr>
        <th class="place" scope="col">Place</th>
        <th class="player" scope="col">Player</th>
        <th class="record" scope="col">Record</th>
        <th class="diff" scope="col">Diff</th>
      </tr>
    </thead>
    <tbody>
    <% @teams.each_with_index do |team, i| %>
      <tr>
        <td class="place"><%=(i + 1).ordinalize %></td>
        <td class="player"><%= team.team_name %></td>
        <td class="record"><%= team.pool_record %></td>
        <td class="diff"><%= team.pool_diff == 0 ? '0' : sprintf("%+d", team.pool_diff) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
