<td class="table-score" id="score"><%= sanitize game["score"] %></td>
<td class="table-outcome" id="winner">
  <%= get_names_of_team_kob(sanitize game["winner"]) %> (+<%= find_differential(sanitize game["score"]) %>)
</td>
<td class="table-outcome" id="loser">
  <%= get_names_of_team_kob(find_losers(game)) %> (-<%= find_differential(sanitize game["score"]) %>)
</td>
