<nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to "Tournament Tracker", tournaments_path, class: "navbar-brand" %>
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="">
      <i class="fa fa-navicon"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse justify-content-stretch" id="navbarContent">
    <div class="navbar-nav ml-auto">
      <% if user_logged_in? %>
        <%= link_to @user.first_name, player_path(@user), class: "nav-item nav-link"%>
        <%= link_to "Log out", logout_path, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Sign up", signup_path, class: "nav-item nav-link" %>
        <%= link_to "Log in", login_path, class: "nav-item nav-link" %>
      <% end %>
        <%= link_to "Players", players_path, class: " nav-item nav-link" %>
      <% if @user && @user.admin? %>
        <%= link_to "Create New Player", signup_path, class: "nav-item nav-link" %>
      <% end %>

    </div>
  </div>
</nav>
