<!DOCTYPE html>
<html>
  <head>
    <title>TournamentTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header role="banner">
      <%= render 'layouts/navigation' %>
    </header>
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content flex container"></div>
      </div>
    </div>
    <div id="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, msg| %>
            <div class="text-center alert alert-<%= name %>">
              <%= msg %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
</html>
