<!DOCTYPE html>
<html>
  <head>
    <title>TournamentTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <div id="App">
      <div id="app-content" class="d-flex flex-column bd-highlight">
          <%= render 'layouts/navigation' %>
        <div id="main" class="d-flex">
            <div class="col-md-12 d-flex flex-column">
              <% flash.each do |name, msg| %>
                <div class="text-center alert alert-<%= name %>">
                  <%= msg %>
                </div>
              <% end %>
              <%= yield %>
            </div>
        </div>
      </div>
      <footer id="footer"></footer>
    </div>
  </body>
</html>
